<app-header></app-header>
<form class="border border-light p-5">
  <p class="h4 mb-4 text-center">Sign in</p>
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-2" placeholder="E-mail">
  <input type="password" class="form-control mb-2" placeholder="Password" >
  <button class="btn btn-info my-4 btn-block" type="submit">Login</button>
  <div class="d-flex justify-content-center">
    <a routerLink="/user/ForgotPassword">Forgot your password?</a>
  </div>
</form>
<app-footer></app-footer>
