<app-header></app-header>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h2>Welcome John Smith</h2>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-5 ml-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">My Card</text></svg>
            <div class="card-body">
              <p class="card-text">...</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="user/page/id/1"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 pl-5"><p>User Contacts</p>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </form>
          <ul>
            <li class="pt-md-3"><a href="contact/jackjackson">Jack Jackson</a><span class="ml-3">X</span></li>
            <li class="pt-md-3"><a href="contact/jackjackson">Jack Jackson</a><span class="ml-3">X</span></li>
            <li class="pt-md-3"><a href="contact/jackjackson">Jack Jackson</a><span class="ml-3">X</span></li>
            <li class="pt-md-3"><a href="contact/jackjackson">Jack Jackson</a><span class="ml-3">X</span></li>
            <li class="pt-md-3"><a href="contact/jackjackson">Jack Jackson</a><span class="ml-3">X</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
