<app-header></app-header>
<form [formGroup]="forgotPasswordForm" class="border border-light p-5" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4 text-center text-info font-weight-bold">Forgot Password</p>
  <div class="d-flex justify-content-center">
    <p>Enter email to reset your password.</p>
  </div>
  <div class="form-group">
    <input type="email" id="defaultRegisterFormEmail" formControlName="email" class="form-control mb-2"
           placeholder="Your e-mail address">
  </div>
  <div
    *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)"
    class="alert alert-danger">
    <div *ngIf="forgotPasswordForm.controls['email'].errors.required">
      Email is required.
    </div>
    <div *ngIf="forgotPasswordForm.controls['email'].errors.email">
      Email must be a valid email address.
    </div>
  </div>
  <button class="btn btn-info my-4 btn-block" type="submit"
          [disabled]="forgotPasswordForm.pristine || forgotPasswordForm.invalid">Reset my Password
  </button>

  <section *ngIf="loading" class="jumbotron text-center">
    <div class="container">
      <h4>Please check your email and reset your password</h4>
    </div>
  </section>

</form>
<app-footer></app-footer>
