.social-link {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}


.fa_custom {
  color: red;
}



h1{
  font-family: 'Open Sans', sans-serif;
}

.card-img-top:hover{
  -webkit-filter: sepia(50%);
  -webkit-transform: sepia(1.01);
}
