<app-header></app-header>
<div class="card">
  <h3 class="card-header font-weight-bold text-uppercase py-4">Contact details</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped">
        <tbody>
        <tr>
          <th scope="row">Name</th>
          <td contenteditable="true">John</td>
        </tr>
        <tr>
          <th scope="row">Lastname</th>
          <td contenteditable="true">Smith</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td contenteditable="true">smith@email.com</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td contenteditable="true">Wall street 14, New York, 5555, USA</td>
        </tr>
        <tr>
          <th scope="row">About</th>
          <td contenteditable="true">my friend from work</td>
        </tr>
        <tr>
          <th scope="row">Phone</th>
          <td contenteditable="true">1-55555</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>
            <button type="button" class="btn btn-success btn-sm mr-1">Save</button>
            <button type="button" class="btn btn-danger btn-sm">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
