<app-header></app-header>

<div class="container py-5">

  <div class="row py-5">
    <div class="col-lg-7 mx-auto">

      <div class="card shadow mb-4">
        <div class="card-body p-5">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <p class="text-uppercase mb-2"><strong>Contact</strong></p>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>


              <tr>
                <th scope="row"><i class="fa fa-address-book"></i></th>

                <td> {{contact.firstName}}</td>
                <td> {{contact.lastName}}</td>
                <td> {{contact.description}}</td>
                <td>
                  <ul class="list-inline m-0">

                    <li class="list-inline-item">
                      <a class="pointer" (click)="updateContact(contact.id)"><i class="fa fa-edit fa_custom"></i></a>
                    </li>

                  </ul>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-body p-5">
          <div class="table-responsive">
            <table class="table m-0">

              <tbody>
              <p class="text-uppercase mb-2"><strong>Phone</strong></p>
              <tr  *ngFor="let phonenumber of contact.phoneNumbers">
                <th scope="row"><i class=" fa fa-phone"></i></th>

                <td>+{{phonenumber.countryCode}} {{phonenumber.phoneNumber}}</td>
                <td>
                  <ul class="list-inline m-0">

                    <li class="list-inline-item">
                      <a class="pointer" (click)="updatePhone(phonenumber.id)"><i class="fa fa-edit fa_custom"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="pointer" (click)="removePhone(phonenumber.id)"><i class="fa fa-trash fa_custom"></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
              <a class="pointer position-absolute" [routerLink]="[ '/user/addphone', contact.id]"><i class="fa fa-plus fa_custom"></i></a>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-body p-5">
          <div class="table-responsive">
            <table class="table m-0">

              <tbody>
              <p class="text-uppercase mb-2"><strong>Email</strong></p>
              <tr  *ngFor="let email of contact.emails">
                <th scope="row"><i class="fa fa-envelope"></i></th>

                <td>{{email.email}}</td>
                <td>

                  <ul class="list-inline m-0 ">

                    <li class="list-inline-item">
                      <a class="pointer" (click)="updateEmail(email.id)"><i class="fa fa-edit fa_custom"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="pointer" (click)="removeEmail(email.id)"><i class="fa fa-trash fa_custom"></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
              <a class="pointer position-absolute" [routerLink]="[ '/user/addemail', contact.id]"><i class="fa fa-plus fa-1.5x "></i></a>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-body p-5">
          <div class="table-responsive">
            <table class="table m-0">

              <tbody>
              <p class="text-uppercase mb-2"><strong>Address</strong></p>
              <tr *ngFor="let address of contact.addresses">
                <th scope="row"><i class="fa fa-map-marker"></i></th>

                <td>{{address.zip}} {{address.country}} {{address.city}} {{address.street}}</td>
                <td>
                  <!-- Call to action buttons -->
                  <ul class="list-inline m-0">

                    <li class="list-inline-item">
                      <a class="pointer" (click)="updateAddress(address.id)"><i class="fa fa-edit fa_custom"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="pointer" (click)="removeAddress(address.id)"><i class="fa fa-trash fa_custom"></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
              <a class="pointer position-absolute" [routerLink]="[ '/user/addaddress', contact.id]"><i class="fa fa-plus fa_custom"></i></a>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>

















