<app-header></app-header>

<div class="container py-5">

  <div class="row py-5">
    <div class="col-lg-7 mx-auto">

      <div class="card shadow mb-4">
        <div class="card-body p-5">
          <div class="table-responsive">
            <table class="table m-0">

              <tbody>
              <tr>
                <th scope="row"><i class=" fa fa-phone"></i></th>

                <td>+490305558899</td>
                <td>
                  <!-- Call to action buttons -->
                  <ul *ngFor="let phonenumber of contact.phoneNumbers" class="list-inline m-0">

                    <li class="list-inline-item">
                      <a class="pointer" (click)="updatePhone(phonenumber.id)"><i class="fa fa-edit fa_custom"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="pointer" (click)="removePhone(phonenumber.id)"><i class="fa fa-trash fa_custom"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a class="pointer" (click)="updatePhone(phonenumber.id)"><i class="fa fa-plus fa_custom"></i></a>
                    </li>
                  </ul>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

















