<app-header></app-header>
<form [formGroup]="PasswordRecoveryForm" class="border border-light p-5" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4 text-center text-info font-weight-bold">{{title}}</p>
  <div *ngIf="submitted; else ngsubmitedFalse">
  <div class="d-flex justify-content-center">
    <p>Enter new password.</p>
  </div>

  <div class="form-group">
    <input type="password" formControlName="password" placeholder="Password" class="form-control mb-2">
  </div>
  <div
    *ngIf="PasswordRecoveryForm.controls['password'].invalid && (PasswordRecoveryForm.controls['password'].dirty || PasswordRecoveryForm.controls['password'].touched)"
    class="alert alert-danger">
    <div *ngIf="PasswordRecoveryForm.controls['password'].errors.required">
      Password is required.
    </div>
    <div *ngIf="PasswordRecoveryForm.controls['password'].errors.minlength">
      Password must be at least 6 characters.
    </div>
  </div>

  <div class="form-group">
    <input type="password" formControlName="confirm_password" placeholder="Confirm Password" class="form-control mb-2">
  </div>
  <div
    *ngIf="PasswordRecoveryForm.controls['confirm_password'].invalid && (PasswordRecoveryForm.controls['confirm_password'].dirty || PasswordRecoveryForm.controls['confirm_password'].touched)"
    class="alert alert-danger">
    <div *ngIf="PasswordRecoveryForm.controls['confirm_password'].errors.confirmedValidator">
      Password do not match.
    </div>
  </div>

  <button class="btn btn-info my-4 btn-block" type="submit"
          [disabled]="PasswordRecoveryForm.pristine || PasswordRecoveryForm.invalid">Submit
  </button>
  </div>
  <section *ngIf="loading" class="jumbotron text-center">
    <div class="container">
      <h4>Please wait.....</h4>
    </div>
  </section>
  <ng-template #ngsubmitedFalse>
  <section class="jumbotron text-center">
    <div class="container">
      <h4>Your new password is now activated</h4>
      <a class="btn btn-success btn-block" routerLink="/user/login">Login</a>
    </div>
  </section>
  </ng-template>
</form>
<app-footer></app-footer>
