<app-header></app-header>
<form class="border border-light p-5" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4 text-center text-info font-weight-bold">Password Recovery</p>
  <div class="d-flex justify-content-center">
    <p>Enter email to reset your password.</p>
  </div>
  <input type="password" placeholder="Password" class="form-control mb-2">
  <input type="password" placeholder="Confirm Password" class="form-control mb-2">
  <button class="btn btn-info my-4 btn-block" type="submit">Submit</button>
</form>
<app-footer></app-footer>
