<app-header></app-header>

<form [formGroup]="PasswordUpdateForm" class="border border-light p-5" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4 text-center font-weight-bold">{{title}}</p>
  <div *ngIf="submitted; else ngsubmitedFalse">


    <div class="form-group">
      <input type="password" id="password" formControlName="password" placeholder="Enter new Password"
             class="form-control mb-2">
    </div>
    <div
      *ngIf="PasswordUpdateForm.controls['password'].invalid && (PasswordUpdateForm.controls['password'].dirty || PasswordUpdateForm.controls['password'].touched)"
      class="alert alert-danger">
      <div id="empty-password" *ngIf="PasswordUpdateForm.controls['password'].errors.required">
        Password is required.
      </div>
      <div id="minimal-password" *ngIf="PasswordUpdateForm.controls['password'].errors.minlength">
        Password must be at least 8 characters long.
      </div>
      <div id="maximal-password" *ngIf="PasswordUpdateForm.controls['password'].errors.maxlength">
        Password must be no longer than 20 characters.
      </div>
    </div>

    <div class="form-group">
      <input type="password" id="confirmation-password" formControlName="confirm_password"
             placeholder="Confirm New Password" class="form-control mb-2">
    </div>
    <div
      *ngIf="PasswordUpdateForm.controls['confirm_password'].invalid && (PasswordUpdateForm.controls['confirm_password'].dirty || PasswordUpdateForm.controls['confirm_password'].touched)"
      class="alert alert-danger">
      <div id="not-match-password" *ngIf="PasswordUpdateForm.controls['confirm_password'].errors.confirmedValidator">
        Passwords do not match.
      </div>
    </div>

    <button class="btn btn-primary my-4 btn-block" type="submit"
            [disabled]="PasswordUpdateForm.pristine || PasswordUpdateForm.invalid">Change password
    </button>
  </div>
  <section *ngIf="loading" class="jumbotron text-center">
    <div class="container">
      <h4>Please wait.....</h4>
    </div>
  </section>
  <ng-template #ngsubmitedFalse>
    <section class="jumbotron text-center">
      <div class="container">
        <h4>The password has been changed successfully</h4>
      </div>
    </section>
  </ng-template>
</form>
<app-footer></app-footer>
