
<app-header></app-header>
<form [formGroup]="AddContactForm" class="border border-light p-5" (ngSubmit)="onSubmit()">
  <p class="h4 mb-4 text-center font-weight-bold">{{title}}</p>
  <div>

    <div class="form-group">
      <select class="form-control mb-2" name="my-select" formControlName="countryCode">
        <option [value]="item.code" *ngFor="let item of country_code">
          {{item.country}} (+{{item.code}})
        </option>
      </select>
    </div>

    <div class="form-group">
      <input type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number"
             class="form-control mb-2">
    </div>
    <div
      *ngIf="AddContactForm.controls['phoneNumber'].invalid && (AddContactForm.controls['phoneNumber'].dirty || AddContactForm.controls['phoneNumber'].touched)"
      class="alert alert-danger">
      <div id="empty-firstName" *ngIf="AddContactForm.controls['phoneNumber'].errors.required">
        Phone Number is required.
      </div>
    </div>

    <button class="btn btn-primary my-4 btn-block" type="submit"
            [disabled]="AddContactForm.pristine || AddContactForm.invalid">Add
    </button>
  </div>
  <section *ngIf="loading" class="jumbotron text-center">
    <div class="container">
      <h4>Please wait.....</h4>
    </div>
  </section>
</form>
<app-footer></app-footer>
